@model IEnumerable<Apps.Models.Voucher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            SiteName
        </th>
        <th>
            DealURL
        </th>
        <th>
            AddedDate
        </th>
        <th>
            ExpirationDate
        </th>
        <th>
            VoucherFileURL
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DealURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoucherFileURL)
        </td>
        <td>
            @if (item.isVoucherCreater()) {
               
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }); 
            } 

            @Html.ActionLink("Details", "Details", new { id=item.ID })
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
